/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.animation_directions_1 img {
		height: 220px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.personal_last_block {
		margin-top: 35px;
	}
	.animation_directions_1 {
		text-align: center;	
	}
	.animation_directions_1, div.item_directions {
		display: none;
	}
	.animation_directions_1
	.content_item {
		padding-top: 20%;
		left: 14px;
	}
	.animation_directions_1 img {
		width: 85%;
		height: 240px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.resume_container .left,
	.section_content .resume_container h3,
	.resume_container .resume_icon {
		text-align: left;
		margin-bottom: 10px; 
	}
	.top_button {
		display: none;
	}	
	.animation_directions_1
	.content_item p {
		font-size: 14px;
		margin-right: 10px;
		padding-top: 10%;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.top_wrapper .top_text h1 {
		font-size: 2em;
		padding-right: 10px; 
		padding-left: 10px;
	}
	.main_footer {
		text-align: left;
	}
	.main_footer .social_wrap {
		float: left;
		margin-top: 20px;
		width: 100%;
	}
	.main_footer .social_wrap ul {
		padding-left: 0;
	}
	.animation_directions_1 img {
		width: 80%;
		height: 160px;
	}
	.animation_directions_1
	.content_item p {
		font-size: 9px;
		margin-right: 15px;
	}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.animation_directions_1 img {
		width: 70%;
		height: 100px;
	}
	.animation_directions_1
	.content_item p {
		font-size: 7px;
		padding-top: 5%;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}